.tag {
    padding: 3px 10px 3px 10px;
    border-radius: 20px;
    margin: 3px;
    white-space: pre-wrap;
}

.tagColourElement {
    font-size: 1.5em;
    padding: 0px 4px 0px 0px;
}

.noUnderline:hover {
    text-decoration: none;
}

.compressedRow {
    padding: 4px 8px 1px 8px;
    line-height: 1.2;
    margin-bottom: 10px;
}

.compressedRow:hover {
    background-color: #63778a;
}

.smallTag {
    font-size: 1em;
}
