
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
        {% if title %}
        <title>{{ title }} - MediaTracker</title>
        {% else %}
        <title>Welcome to MediaTracker</title>
        {% endif %}
	<link href="{{ url_for('index') }}static/css/bootstrap.min.css" rel="stylesheet">
</head> 
<body>  
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="{{ url_for('index') }}static/js/bootstrap.min.js"></script>

	<div class="bs-component">
        <div class="navbar navbar-default">
		<div class="navbar-header">
		<div class="navbar-brand"><span class="glyphicon glyphicon-eye-open" aria-hidden="true"/>
MediaTracker</div>
		<ul class="nav navbar-nav">
			<li><a href="{{ url_for('index') }}">Home</a></li> 
		</ul>
		</div>
	</div>   
	</div>
    
        {% with messages = get_flashed_messages() %}
		{% if messages %}
		{% for message in messages %}
		<div class="alert alert-dismissable alert-info">{{ message }}</div>
		{% endfor %}
		{% endif %}
	{% endwith %}
	<div class="container">
	{% block content %}
        {% endblock %}
	</div>
</body> 
</html>

