<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

<h1>All media
{% if filter_tag %}
tagged "{{ filter_tag.name }}"
{% endif %}

<div style="float: right;">
<a class="btn btn-default" href="{{ url_for('index') }}?{{create_query_string(filter_tag.id,sort,not compressed)}}">
{% if compressed %}
Decompress
{% else %}
Compress
{% endif %}
</a>
</div>
<!--<br style="clear: left;" />-->

{% if filter_tag %}
<div style="float: right;">
<a class="btn btn-default" href="{{ url_for('index') }}?{{create_query_string(None,sort,compressed)}}">Clear tag filter</a>
</div>

<br style="clear: left;" />
{% endif %}

</h1>


<h4>
Sort by:
</h4>

<ul class="nav nav-pills">
  <li 
    {% if sort == "name" %}
        class="active" 
    {% endif %}
  ><a href="{{ url_for('index') }}?do_sort=name{{'&' + query_string if query_string}}
  ">Name</a>
  </li>
  <li 
    {% if sort == "dateModified" or not sort %}
        class="active" 
    {% endif %}
  ><a href="{{ url_for('index') }}?do_sort=dateModified{{'&' + query_string if query_string}}
  ">Date modified</a>
  </li>
  <li 
    {% if sort == "dateAdded" %}
        class="active"  
    {% endif %}
  ><a href="{{ url_for('index') }}?do_sort=dateAdded{{'&' + query_string if query_string}}
  ">Date added</a>
  </li>
</ul>

<hr>

{% if media_list %}
    {% for m in media_list %}
        {% if compressed %}
        <small>
        <div class="well well-sm lineHeightAlign">
            <div style="float: left; width: 70%;">
            <b>{{ m.name}}</b> {{' | ' + create_episode_string(m) }}
          {% for t in m.tags %}

          <a class="noUnderline" href="{{ url_for ('index')}}?filter_by_tag={{t.id}}{{'&' + query_string if query_string}}">
          <span class="tagColourElement lineHeightAlign" style="color: {{ t.colour }};" aria-hidden="true" title="{{ t.name }}">&#9751;</span>
          </a>
        {% endfor %}
          </div>
          
            <div style="float: right;">
            <a href="
            {{ url_for('increment_episode', media_id = m.id) }}?{{ query_string }}" 

            title="Click to increment episode number">
                <span class="glyphicon glyphicon-plus text-info lineHeightAlign" aria-hidden="true"/>
            </a>
          </div>
          
          <div style="float: right; width: 35px;">
            <a href="{{ url_for('media_details', media_id=m.id) }}" 

            title="Edit media">
                <span class="glyphicon glyphicon-pencil text-danger lineHeightAlign" aria-hidden="true"/>
            </a> 
            
          </div>
          <br style="clear: left;" />
        </div></small>
        {% else %}
        <div class="panel panel-default" >
          <div class="panel-heading">
          <div style="float: left; width: 50%;">
          <h4>{{ m.name }}</h4>
          </div>
          <div style="float: right; width: 50px;">
            <a href="
            {{ url_for('increment_episode', media_id = m.id) }}?{{ query_string }}" 
            class="btn btn-info" 
            title="Click to increment episode number">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"/>
            </a>
          </div>
          <div style="float: right; width: 60px;">
            <a href="{{ url_for('media_details', media_id=m.id) }}" 
            class="btn btn-danger" 
            title="Edit media">
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"/>
            </a> 
          </div>
          <br style="clear: left;" />
          </div>
          
          <div class="panel-body">
            <b> {{ create_episode_string(m) }} </b>

        <p> {{ m.notes }} </p>

        <div id="tags{{m.id}}" style="clear: both;">
        {% for t in m.tags %}

        <a href="{{ url_for ('index')}}?filter_by_tag={{t.id}}{{'&' + query_string if query_string}}"
                    class="btn btn-default tag"><span class="tagColourElement" style="color: {{ t.colour }};" aria-hidden="true">&#9751;</span><b>{{ t.name }}</b></a>
        {% endfor %}
        </div>
          </div>
        </div>
        {% endif %}
    {% endfor %}

{% else %}
	<p> No media listed yet...</p>
{% endif %}

{% endblock %}
